a:link, a:visited, a:active {
text-decoration:none;
color:#f2f2f2;
font-family: sans-serif;
}

a.blue:link, a.blue:visited {
color:#1D3CED;
font-family:sans-serif;
text-decoration:none;
}

a.pink:link, a.pink:visited {
color:#ED1DAF;
font-family:sans-serif;
}

div.central {
     background-image: url("../imagens/fundo.gif");
	 background-repeat: no-repeat;
	 background-position: center;

	 position:relative;
	 top: 20%;

 } 
 
 div.topo{
	 
	 position:relative;
	 top:0%;

	 
 }
 
 div.rodape {

	 position:relative;	 
	 top: 80%;
 }
 

 div.parent{
	  width:100%;
	  height:100%;

 }
 
 iframe { 
border: 4px red solid; 
 } 
 
 @keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
img.alerta {
    animation: blink 1s;
    animation-iteration-count: infinite;
}

html, body {
    height:auto;
    width:auto;
    margin:0;
    padding:0;
}
 