a:link, a:visited, a:active {
text-decoration:none;
color:#f2f2f2;
font-family: sans-serif;
}

a.blue:link, a.blue:visited {
color:#1D3CED;
font-family:sans-serif;
text-decoration:none;
}

a.pink:link, a.pink:visited {
color:#ED1DAF;
font-family:sans-serif;
}

div.central {
     background-image: url("../imagens/fundo.gif");
	 background-repeat: no-repeat;
	 background-position: center;
	 height:100%;
	 width:100%;
	 position:absolute;
	 top:200px;
	 right:0px;

 } 
 
 div.topo{
	 
	 height:100%;
	 width:100%;
	 position:absolute;
	 top:0px;
	 right:0px;

	 
 }
 
 div.rodape {
	 height:100%;
	 width:100%;
	 position:absolute;
	 top: 900px;
	 bottom:0px;
	 right:0px;

	 
 }
 
 div.parent{
  width:auto;
  height:auto;
  position:relative;
 }
 
 iframe { 
border: 4px red solid; 
 } 
 
 @keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
img.alerta {
    animation: blink 1s;
    animation-iteration-count: infinite;
}

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
 