a:link, a:visited, a:active {
text-decoration:none;
color:#f2f2f2;
font-family: sans-serif;
}

a.blue:link, a.blue:visited {
color:#1D3CED;
font-family:sans-serif;
text-decoration:none;
}

a.pink:link, a.pink:visited {
color:#ED1DAF;
font-family:sans-serif;
}

a.green:link, a.green:visited {
color:#007A00;
font-family:sans-serif;
font-size:70%;
text-decoration:none;
}

div.central {
	 
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: 100% 100%;
	 
	 position:relative;
	 top:20%;
	 left:10%;

	 font-size:medium;
	 

 } 
 
 div.topo{
	 
	 position:relative;
	 top:0%;
	 left:10%;
	 
 }
 
 div.rodape {
	 font-size:x-large;
	 position:relative;	 
	 top:80%;
	 left:10%;
 }
 

 div.parent{
	  width:80%;
	  height:80%;

 }
 
 div.lista{
	
	margin-bottom:80%;
 }
 
 iframe { 
border: 4px red solid; 
 } 
 
 @keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
img.alerta {
    animation: blink 1s;
    animation-iteration-count: infinite;
}


html, body {
    height:auto;
    width:auto;
    margin:0;
    padding:0;
}
 