<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.br.dotter.beep"
        version   = "1.0.0">
    <name>BEEP</name>

    <description>
        Baby Beep.
    </description>

    <author href="http://www.dotter.com.br" email="eduardo@dotter.com.br">
        Dotter do Brasil Ltda
    </author>

    <gap:plugin name="com.phonegap.plugins.barcodescanner"/>
	
    

	<plugin name="cordova-plugin-device" />
	
    <gap:plugin name="org.apache.cordova.media" />

    <gap:plugin name="com.cordova.plugins.sms" version="0.1.2" />


    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<access origin="*"/>
	<allow-navigation href="*" />
	<allow-intent href="*" />

    <gap:plugin name="hu.dpal.phonegap.plugins.contactnumberpicker" version="0.1.1" />

    <gap:plugin name="org.apache.cordova.geolocation" />
	
	<gap:plugin name="org.apache.cordova.battery-status" />
	
	<gap:plugin name="com.colibrisoftware.plugins.backgroundjs" version="3.3" />
	
	<gap:plugin name="cordova-plugin-bluetoothle" source="npm" />
	
	<plugin name="de.appplant.cordova.plugin.local-notification" />
		
	<preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />

    <icon src="icon.png" />
    <gap:splash src="logo.png" />

</widget>
